html, body{
	height: 100%;
	margin: 0;
	flex: 1;
	padding: 0 5px;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "parisine-std", sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/icons/motif.jpg');
    background-repeat: repeat;
    background-size: 150px;
    background-attachment: fixed;
    opacity: 0.5;
    z-index: -1;
}


.centered{
	text-align: center;
}

.header {
	background-color: #0a0082;
	color: #fff;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	text-decoration: none;
}

.header a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}

a {
	text-decoration: none;
}

.footer {
	background-color: #0a0082;
	color: #fff;
	padding: 10px;
	text-align: center;
	bottom: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 0px;
}

.footer a {
	color: #ffce00;
}


.svg-container {
	overflow: auto;
	align-content: center;
}

.svg-container img {
	height: 60px;
	margin: 8px 8px 0px 0px;
}

.container {
	display: grid;
	grid-template-columns: auto 1fr; /* Deux colonnes : icônes (auto) + texte (1fr) */
	align-items: center; /* Alignement vertical au centre */
	gap: 0.5em; /* Espacement entre les colonnes */
}

.container .integrated {
	display: flex;
	gap: 0.3em; /* Espacement entre les icônes */
	height: 1.75em; /* Hauteur de 2 lignes pour les icônes */
	align-items: stretch; /* Etire les icônes à la hauteur spécifiée */
}

.container .integrated img {
	height: 100%; /* Les icônes prendront 100% de la hauteur du conteneur */
	width: auto; /* Ajuste la largeur en fonction de la hauteur */
}

.integrated img {
	height: 1em;
	width: 1em;
	vertical-align: middle;
	position: relative;
	top: -0.1em;
}

.box {
	border: 4px solid black;
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	max-width: 700px;
	background-color: white !important;
	box-sizing: border-box;
}

.box object {
	display: block;
	width: 100%;
}

.box h2 {
	margin-bottom: 10px;
}

.box p {
	margin-top: -5px;
}

.box iframe {
	display: block;
	width: 100%; /* S'adapte à la largeur de la boîte */
	height: auto; /* Garde les proportions */
	aspect-ratio: 58/27;
	border-radius: 10px;
	margin-bottom: 5px !important;
}

.sncf {
	aspect-ratio: 16/9 !important;
}

.wip-box {
	border: 4px solid #e85433;
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.wip-box .svg-container {
	position: relative;
	overflow: visible !important;
}

.wip-box h2 {
	margin-top: 0px;
}

.license {
	font-size: 11px;
	text-align: center;
	color: #aaaaaa;
}

.image-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.box table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

/* Suppression des bordures */
.box th, .box td {
    padding: 8px;
    font-weight: bold;
    border: none;
}

/* Lignes alternées pour les deux colonnes */
.box tr:nth-child(odd) .title {
    background-color: #09006e; /* Bleu plus foncé */
}

.box tr:nth-child(even) .title {
    background-color: #0a0082; /* Bleu original */
}

.box tr:nth-child(odd) td:not(.title) {
    background-color: #f2f2f2; /* Gris clair */
}

.box tr:nth-child(even) td:not(.title) {
    background-color: #ffffff; /* Blanc */
}

/* Texte en blanc pour la colonne "title" */
.box td.title {
    color: white;
    text-align: right;
    font-weight: bold;
}

/* Coins arrondis */
.box table tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

.box table tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

.box table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.box table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.gallery {
	text-align: center;
	width: 100%;
}

.gallery img {
	width: 100%;
	height: auto;
	max-width: 300px;
	max-height: 200px;
	aspect-ratio: 1 / 1; /* Les images seront carrées */
	object-fit: cover; /* Remplissage sans déformation */
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.2s, box-shadow 0.2s;
	margin: 5px;
}

.gallery img:hover {
	transform: scale(1.1);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blue-box {
	background-color: #0a0082;
	color: white !important;
	border-radius: 5px;
	font-weight: bold;
	padding: 6px;
	display: inline-block;
	word-break: break-word;
	margin-bottom: 10px;
	width: fit-content;
}

.repere {
	border: 2px solid white;
	font-style: italic;
	display: inline-block;
	padding: 3px;
}

.ptinteret {
	background-color: #6e4823 !important;
	border-radius: 5px;
	font-style: italic;
	font-weight: bold;
	color: white !important;
	padding: 6px;
	display: inline-block;
}
.num-sortie {
	border: 1px solid white;
	padding: 3px;
	display: inline-block;
}

.blue-box .ptinteret {
	padding: 4px !important;
	border-radius: 0px;
}

.hovereffect {
	transition: transform 0.2s, box-shadow 0.2s;
}

.hovereffect:hover {
	transform: scale(1.15);
}

.footer-buttons {
	background-color: #0a0082;
	padding: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	text-align: center;
	color: white;
}
.footer-buttons h2 {
	margin-bottom: 20px;
	text-align: left;
}

.footer-buttons p a {
	color: #ffce00;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 20px;
}
.button {
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	transition: background-color 0.3s ease, transform 0.3s ease;
}
.github {
	background-color: black;
}
.github:hover {
	background-color: #333;
	transform: scale(1.1);
}
.discord {
	background-color: #5865F2;
}
.discord:hover {
	background-color: #4752c4;
	transform: scale(1.1);
}
.metropolitor {
	background-color: #0a0082;
}
.metropolitor:hover {
	background-color: #05003e;
	transform: scale(1.1);
}
.metropolitor .integrated img {
	height: 2.5em;
	width: auto !important;
}

.shadowed {
	filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

.invert-colors {
	-webkit-filter: invert(1);
	filter: invert(1);
}

.terminus-box {
	background-color: #0a0082;
	color: white;
	font-weight: bold;
	font-size: 50px;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	max-width: 700px;
	display: inline-block;
	word-break: break-word;
	margin-bottom: 10px;
	width: fit-content;
}

.train {
	font-size: 30px !important;

}