html, body{
	height: 100%;
	margin: 0;
	flex: 1;
	padding: 0 5px;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "parisine-std", sans-serif;
}

.centered{
	text-align: center;
}

.header {
	background-color: #0a0082;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.footer {
	background-color: #0a0082;
	color: #fff;
	padding: 10px;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
}

.footer a {
	color: #ffce00;
}


/* .svg-container {
	overflow-x: auto;
    height: 1400px;
	white-space: nowrap;
	box-sizing: border-box;
	flex: 1;
}

.svg-container svg {
	height: auto;
	width: auto;
} */
