html, body{
	height: 100%;
	margin: 0;
	flex: 1;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "parisine-std", sans-serif;
}

.centered{
	text-align: center;
}

.header {
	background-color: #0a0082;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.footer {
	background-color: #0a0082;
	color: #fff;
	padding: 10px;
	margin-top: auto;
}

.footer a {
	color: #ffce00;
}


.svg-container {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	margin-bottom: 10px;
	height: auto;
	width: auto;
	display: auto;
	box-sizing: border-box;
}

.svg-container svg {
	height: auto;
	width: auto;
}
